body{
	padding-top: 80px;
	background: #e6e6e6;
	position: relative;
}
.about .img-circle{
	height: 250px;
	width: 250px;
	box-shadow: 2px 2px 4px #808080;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
.p2{
	padding-bottom: 40px;
}
.social{
	display: block;
	margin-left: 28%;
	padding: 20px;
}
#portfolio{
	padding-top: 70px;
	margin-top: -100px;
}
.hi{
	margin-bottom: 50px;
}
.navbar{
	background: #fff;
}
.jumbotron-fluid{
	margin: 10px;
	border: 1px solid #e3e3e3; 	
	background: #fff;
}
.jumbotron-fluid p{
	padding: 20px;
}
.jumbotron-fluid img{
	margin: auto;
	display: block;
	padding: 30px;
}
.container h1{
	margin-bottom: 30px;
}
.contact-me{
	padding: 20px;
}
.contact p{
	padding: 20px;
	box-shadow: 1px 1px 5px #222;
}
.contact a:hover{
	text-decoration: none;
}
.page-footer{
	background: #fff;
	position: absolute;
	left: 0;
	width: 100%;
}
.footer-copyright{
	padding: 8px;
}
.footer-copyright a:hover{
	text-decoration: none;
}